<section>
  <div class="page-header">
    <h1>{{vm.gameversion._id ? 'Edit Game Version' : 'New Game Version'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.gameversionForm" class="form-horizontal" ng-submit="vm.save(vm.form.gameversionForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.gameversion.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.gameversionForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Game Version name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Description</label>
          <textarea name="description" type="text" ng-model="vm.gameversion.description" id="description" class="form-control" placeholder="Description"> </textarea>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.gameversion._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
