<section>
  <div class="page-header">
    <h1>Classes</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="klass in vm.klasses"
       ui-sref="klasses.view({ klassId: klass._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="klass.created | date:'mediumDate'"></span>
        by
        <span ng-if="klass.user" ng-bind="klass.user.displayName"></span>
        <span ng-if="!klass.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="klass.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.klasses.$resolved && !vm.klasses.length">
    No Class yet, why don't you <a ui-sref="klasses.create">create one</a>?
  </div>
</section>
