<section>
  <div class="page-header">
    <h1 ng-bind="vm.klass.name"></h1>
    <p><b> Book: </b><a href="./rulebooks/{{vm.klass.bookid}}"><span ng-bind="vm.klass.book"> </span> </a> </p>

    <div ng-if="vm.klass.prestigeclass">

    <h3> Requirments </h3>
    <p ng-show="vm.klass.babrequirment != 0"><b> Base Attack Bonus Requirment: </b> <span ng-bind="vm.klass.babrequirment"> </span> </p>

    <p ng-show="vm.klass.spellcastingrequirment != '' " ><b> Spellcasting Requirment: </b> <span ng-bind="vm.klass.spellcastingrequirment"> </span> </p> 

    <p ng-show="vm.klass.specialrequirment"><b> Special Requirment: </b> <span ng-bind-html="vm.klass.specialrequirment"> </span> </p>

    <label ng-if="vm.klass.featrequirment.length > 0">Feat Requirments: </label><span ng-repeat="feat in vm.klass.featrequirment"><span ng-if="vm.klass.featrequirment.length = $index">, </span>{{feat.name}}</span>

    </div>

    <h3>Class Information</h3>
    <p><b> Hit Dice: </b> <span ng-bind="vm.klass.hitdice"> </span> </p>
    <p><b> Skill Points per level: </b> <span ng-bind="vm.klass.skillpoints"> </span> </p>
    <p ng-bind="vm.klass.description"> </p>
    <h3> Class Features </h3>
    <div ng-bind-html="vm.klass.classfeatures"> 

    </div>

        <table class="table">
          <tr>
            <th>Level
            </th>
            <th>Base Attack Bonus
            </th>
            <th>Fort Save
            </th>
            <th>Ref Save
            </th>
            <th>Will Save
            </th>
            <th>Special
            </th>
            <th ng-if="vm.klass.isspellcaster">Spells Per Day
            <div ng-if="vm.klass.progressesExistingCasting==false">
              <span style="float:left; width:35px; margin-right: 10px;" ng-if="vm.klass.hasZero==true"> 0th </span> 
              <span style="float:left; width:35px; margin-right: 10px;" ng-if="vm.klass.maxspelllevel >= 1">1st</span> 
              <span style="float:left; width:35px; margin-right: 10px;" ng-if="vm.klass.maxspelllevel >= 2">2nd</span> 
              <span style="float:left; width:35px; margin-right: 10px;" ng-if="vm.klass.maxspelllevel >= 3">3rd</span> 
              <span style="float:left; width:35px; margin-right: 10px;" ng-if="vm.klass.maxspelllevel >=4">4th</span> 
              <span style="float:left; width:35px; margin-right: 10px;" ng-if="vm.klass.maxspelllevel >=5">5th</span> 
              <span style="float:left; width:35px; margin-right: 10px;" ng-if="vm.klass.maxspelllevel >=6">6th</span> 
              <span style="float:left; width:35px; margin-right: 10px;" ng-if="vm.klass.maxspelllevel >=7">7th</span> 
              <span style="float:left; width:35px; margin-right: 10px;" ng-if="vm.klass.maxspelllevel >=8">8th</span> 
              <span style="float:left; width:35px; margin-right: 10px;" ng-if="vm.klass.maxspelllevel >=9">9th</span> 
            </div>
            </th>
          </tr>
          <tr ng-repeat="i in level(vm.klass.numlevels) track by $index">
            <td> {{$index + 1}}
            </td>
            <td>
            <span ng-if="vm.klass.babprogression == 0.5">+{{vm.klass.babprogression * ($index + 1) - 0.5| number : 0 }} 
            </span>
            <span ng-if="vm.klass.babprogression == 0.75">+{{vm.klass.babprogression * ($index + 1) -0.5 | number : 0 }}
            </span>
            <span ng-if="vm.klass.babprogression == 1">+{{vm.klass.babprogression * ($index + 1) | number : 0 }}
            </span>
            <span ng-if="vm.klass.babprogression == 0">0
            </span>
            </td>

            <td>
            <div ng-if="vm.klass.fortprogression == 0.333334">{{vm.klass.fortprogression * ($index + 1) - 0.2 | number : 0 }}
            </div>
            <div ng-if="vm.klass.fortprogression == 0.5"> 
            {{vm.klass.fortprogression * ($index + 1) + 1.5 | number : 0 }}
            </div>
            </td>
            <td>
            <div ng-if="vm.klass.refprogression == 0.333334">{{vm.klass.refprogression * ($index + 1) - 0.2 | number : 0 }}
            </div>
            <div ng-if="vm.klass.refprogression == 0.5"> 
            {{vm.klass.refprogression * ($index + 1) + 1.5 | number : 0 }}
            </div>
            </td>
            <td>
            <div ng-if="vm.klass.willprogression == 0.333334">{{vm.klass.willprogression * ($index + 1) - 0.2 | number : 0 }}
            </div>
            <div ng-if="vm.klass.willprogression == 0.5"> 
            {{vm.klass.willprogression * ($index + 1) + 1.5 | number : 0 }}
            </td>
            <td> {{vm.klass.advancement[$index].special}}
            </td>

            <td ng-if="vm.klass.isspellcaster==true">
            <div ng-if="vm.klass.progressesExistingCasting==false"> 
            <span ng-if="vm.klass.hasZero==true" style="float:left; width:35px; margin-right: 10px;"> 
              {{vm.klass.advancement[$index].zerolevel}}
            </span>
            <span ng-if="vm.klass.maxspelllevel >= 1" style="float:left; width:35px; margin-right: 10px;"> 
              {{vm.klass.advancement[$index].firstlevel}}
            </span>
            <span ng-if="vm.klass.maxspelllevel >= 2" style="float:left; width:35px; margin-right: 10px;"> 
              {{vm.klass.advancement[$index].secondlevel}}
            </span>
            <span ng-if="vm.klass.maxspelllevel >= 3" style="float:left; width:35px; margin-right: 10px;"> 
              {{vm.klass.advancement[$index].thirdlevel}}
            </span>
            <span ng-if="vm.klass.maxspelllevel >= 4" style="float:left; width:35px; margin-right: 10px;"> 
              {{vm.klass.advancement[$index].fourthlevel}}
            </span>
            <span ng-if="vm.klass.maxspelllevel >= 5" style="float:left; width:35px; margin-right: 10px;"> 
              {{vm.klass.advancement[$index].fifthlevel}}
            </span>
            <span ng-if="vm.klass.maxspelllevel >= 6" style="float:left; width:35px; margin-right: 10px;"> 
              {{vm.klass.advancement[$index].sixthlevel}}
            </span>
            <span ng-if="vm.klass.maxspelllevel >= 7" style="float:left; width:35px; margin-right: 10px;"> 
              {{vm.klass.advancement[$index].seventhlevel}}
            </span>
            <span ng-if="vm.klass.maxspelllevel >= 8" style="float:left; width:35px; margin-right: 10px;"> 
              {{vm.klass.advancement[$index].eigthlevel}}
            </span>
            <span ng-if="vm.klass.maxspelllevel >= 9" style="float:left; width:35px; margin-right: 10px;"> 
              {{vm.klass.advancement[$index].ninthlevel}}
            </span>
            </div>
            <span ng-if="vm.klass.progressesExistingCasting==true"> 
              {{vm.klass.advancement[$index].progressesExisting}}
            </span>
            </td>
          </tr>
        </table>




    <a href="/gameversions/{{vm.klass.gameversionID}}"><i ng-bind="vm.klass.gameversion"> </i>
  </div>
  <div class="pull-right"
       ng-show="vm.klass.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="klasses.edit({ klassId: vm.klass._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.klass.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.klass.user"
            ng-bind="vm.klass.user.displayName"></span>
      <span ng-if="!vm.klass.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.klass.content"></p>
</section>
