<section>
  <div class="page-header">
    <h1>Languages</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="language in vm.languages"
       ui-sref="languages.view({ languageId: language._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="language.created | date:'mediumDate'"></span>
        by
        <span ng-if="language.user" ng-bind="language.user.displayName"></span>
        <span ng-if="!language.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="language.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.languages.$resolved && !vm.languages.length">
    No Languages yet, why don't you <a ui-sref="languages.create">create one</a>?
  </div>
</section>
