<section>
  <div class="page-header">
    <h1>Featcategories</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="featcategory in vm.featcategories"
       ui-sref="featcategories.view({ featcategoryId: featcategory._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="featcategory.created | date:'mediumDate'"></span>
        by
        <span ng-if="featcategory.user" ng-bind="featcategory.user.displayName"></span>
        <span ng-if="!featcategory.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="featcategory.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.featcategories.$resolved && !vm.featcategories.length">
    No Featcategories yet, why don't you <a ui-sref="featcategories.create">create one</a>?
  </div>
</section>
