<section>
  <div class="page-header">
    <h1>Archetypes</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="archetype in vm.archetypes"
       ui-sref="archetypes.view({ archetypeId: archetype._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="archetype.created | date:'mediumDate'"></span>
        by
        <span ng-if="archetype.user" ng-bind="archetype.user.displayName"></span>
        <span ng-if="!archetype.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="archetype.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.archetypes.$resolved && !vm.archetypes.length">
    No Archetypes yet, why don't you <a ui-sref="archetypes.create">create one</a>?
  </div>
</section>
