<section>
  <div class="page-header">
    <h1>Spells</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="spell in vm.spells"
       ui-sref="spells.view({ spellId: spell._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="spell.created | date:'mediumDate'"></span>
        by
        <span ng-if="spell.user" ng-bind="spell.user.displayName"></span>
        <span ng-if="!spell.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="spell.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.spells.$resolved && !vm.spells.length">
    No Spells yet, why don't you <a ui-sref="spells.create">create one</a>?
  </div>
</section>
